<h2>
<%= @user.name %><br>
<%= @user.location %><br>
<%= @user.email %>
</h2>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<!-- ====================================================================================================== -->
<!-- ========== *** Map Javascript Logic *** ============================================================== -->
<!-- ====================================================================================================== -->

<script type="text/javascript">
	$(document).ready(function(){


	var handler = Gmaps.build('Google');
	handler.buildMap({ internal: {id: 'map'} }, function(){
		if(navigator.geolocation)
			navigator.geolocation.getCurrentPosition(displayOnMap);

		$.ajax({
			type: "GET",
			url: "/api/farms",
			success: farm_markers,
			error: handleError
		});	
	});

 // ====================================================================================================== 
 // ====================================================================================================== 

	function displayOnMap(position){
	  var marker = handler.addMarker({
	    lat: position.coords.latitude,
	    lng: position.coords.longitude
	  });
	  handler.map.centerOn(marker);
	};
    
 // ====================================================================================================== 
 // ====================================================================================================== 
	    

 // ====================================================================================================== 
 // ====================================================================================================== 

 	function farm_markers(response) {
 		
	 	response.forEach(function(the_farm){

	 		var lat = the_farm.lat;
	 		var lng = the_farm.lng;
	 		var name = the_farm.name;

// =================== Log Tests ========================================================================= 
	 		console.log("---------EACH FARM----------")
	 		console.log(lat)
	 		console.log(lng)
	 		console.log(name)
	 		console.log("----------------------------")
 // ====================================================================================================== 

		  	var marker = handler.addMarker({
		    lat: lat,
		    lng: lng
		 	 });
		  	// handler.map.centerOn(marker)
 		});	
 	};

 // ====================================================================================================== 
 // ====================================================================================================== 

	function handleError (error) {
		  console.log("Watch yo Back! We got an urrur");
		  console.log(error.responseText);
	};

});
</script>

<!-- ====================================================================================================== -->
<!-- ====================================================================================================== -->
<!-- ====================================================================================================== -->


<%= link_to "Create a Farm", new_user_farm_path %><br>
<%= link_to "My Farms", user_farms_path %><br>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>