
<div class="row">


<div class="col s4 m4 l4">
	<h6>
	<%= @user.name %><br>
	<%= @user.location %>
	</h6>

    <ul class="collapsible" data-collapsible="expandable">
        <li> 
			<div class="collapsible-header">
				Filter by Products
			</div>
			<div class="collapsible-body">
	        	<% @products.each do |product| %>
	        	
					<input type="checkbox" data-category= "Product" name= "<%= product.name %>" id="<%= product.id %>" value="<%= product.id %>" class="js-filter-box">
					<label for="<%= product.id %>"> <%= product.name %> </label>
					<br>
				<% end %>
			</div>
		</li>

		<li> 
			<div class="collapsible-header">
				Filter by Farming Practices
			</div>
			<div class="collapsible-body">
				<% @practices.each do |practice| %>
					<input type="checkbox" data-category= "Practice" name= "<%= practice.name %>" id="<%= practice.name %>" value="<%= practice.id %>"
					class="js-filter-box">
					<label class="tooltipped" data-position="right" data-tooltip="<%= practice.description %>" for="<%= practice.name %>"> <%= practice.name %> </label>
					<br>
				<% end %>
			</div>	
		</li>
		
		<li>
			<div class="collapsible-header">
				Filter by Purchase Options
			</div>
			<div class="collapsible-body">
				<% @purchase_options.each do |purchase_option| %>
					<input type="checkbox" data-category= "PurchaseOption" name= "<%= purchase_option.name %>" id="<%=
					purchase_option.name %>" value="<%= purchase_option.id %>"
					class="js-filter-box">
					<label for="<%= purchase_option.name %>"> <%= purchase_option.name %> </label>
					<br>
				<% end %>
			</div>
		</li>	
	</ul>	
 </ul>	
</div>

      <div class="col s8 m8 l8">
        
		<div>
		  <div class="z-depth-1" id="map" style='width: 100%; height: calc(100vh - 64px);'></div>
		</div>
     </div>

  </div>

<!-- ============================================================================================================== ================== *** Map Javascript Logic *** ============================================================== 
==============================================================================================================  -->

          

<script type="text/javascript">

$(document).ready(function(){


var markerArray = [];

$( ".js-filter-box" ).click(function() {

	var filterId = $(this).data("value");
	var allfilterIds = {PurchaseOption:[],
						Practice:[],
					    Product:[]}
		$('.js-filter-box:checked').each(function(index, element){
			var filterId = parseInt($(element).attr("value"))
			var category = $(element).attr("data-category")
			allfilterIds[category].push(filterId)
		})

		$.ajax({
			
			type: "POST",
			url: "/api/farms",
			data: allfilterIds,
			success: farm_markers,
			error: handleError
		});

});



	mapStyle = [{"featureType":"poi","elementType":"labels.text.fill","stylers":[{"color":"#747474"},{"lightness":"23"}]},{"featureType":"poi.attraction","elementType":"geometry.fill","stylers":[{"color":"#f38eb0"}]},{"featureType":"poi.government","elementType":"geometry.fill","stylers":[{"color":"#ced7db"}]},{"featureType":"poi.medical","elementType":"geometry.fill","stylers":[{"color":"#ffa5a8"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#c7e5c8"}]},{"featureType":"poi.place_of_worship","elementType":"geometry.fill","stylers":[{"color":"#d6cbc7"}]},{"featureType":"poi.school","elementType":"geometry.fill","stylers":[{"color":"#c4c9e8"}]},{"featureType":"poi.sports_complex","elementType":"geometry.fill","stylers":[{"color":"#b1eaf1"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":"100"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"},{"lightness":"100"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffd4a5"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffe9d2"}]},{"featureType":"road.local","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"weight":"3.00"}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"weight":"0.30"}]},{"featureType":"road.local","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"road.local","elementType":"labels.text.fill","stylers":[{"color":"#747474"},{"lightness":"36"}]},{"featureType":"road.local","elementType":"labels.text.stroke","stylers":[{"color":"#e9e5dc"},{"lightness":"30"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":"100"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#d2e7f7"}]}]


	var handler = Gmaps.build('Google');
	var map;
	handler.buildMap({ 
		provider: {
			zoom: 8,
			styles: mapStyle
		},
		internal: 
		{id: 'map'} 
		}, popMap
		);


// ====================================================================================================== 
// ====================================================================================================== 
	function popMap(){ 
		map = handler.getMap();

			if(navigator.geolocation)
				navigator.geolocation.getCurrentPosition(displayOnMap);

			$.ajax({
				type: "GET",
				url: "/api/farms",
				success: farm_markers,
				error: handleError
			});	
	};

// ====================================================================================================== 
// ====================================================================================================== 

	function displayOnMap(position){
	  var user_location = ({
	    lat: position.coords.latitude,
	    lng: position.coords.longitude
	  });
	  handler.map.centerOn(user_location);
	};
    
// ====================================================================================================== 
// ====================================================================================================== 

 	function farm_markers(response) {


		markerArray.forEach(function(one_marker){
			one_marker.setMap(null)
		});

	 	response.forEach(function(the_farm){

	 		var lat = Number(the_farm.lat);
	 		var lng = Number(the_farm.lng);
	 		var coord = {lat: lat, lng: lng}
	 		var name = the_farm.name;
		  	
	
	  	  var marker = new google.maps.Marker({
		    position: coord,
		    map: map,
		    title: name
		  });

		  markerArray.push(marker)
		  	console.log("~~~~~~~~markerarray~~~~~~~~~")
			console.log(markerArray)
			console.log("~~~~~~~~~~~~~~~~~~~~~~~~~~~~")


 			
		  	var contentString = 
		  	`<div id="iw-container">
		      	<div class="iw-title">
		      		${name}
		      	</div>
			      <div class="iw-body">
				      <p> ${the_farm.description} </p>
				      <a href="/farms/${the_farm.id}" class="waves-effect waves-light btn green accent-4">
				      Profile
				      </a>
			      </div>
		    </div>`;

 			var infowindow = new google.maps.InfoWindow({
			    content: contentString
			});

			marker.addListener('click', function() {
		    infowindow.open(map, marker);
		  	});

 		});	
 	};

// ====================================================================================================== 
// ====================================================================================================== 

	function handleError (error) {
		  console.log("Watch yo Back! We got an urrur");
		  console.log(error.responseText);
	};

});
</script>