<h2>
<%= @user.name %><br>
<%= @user.location %><br>
<%= @user.email %>
</h2>


<%= link_to "Create a Farm", new_user_farm_path %><br>
<%= link_to "My Farms", user_farms_path %><br>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>