<%= form_for(@farm, url: {action: "update"}) do |f| %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div> 

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div> 

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, size: "60x12" %>
  </div> 
	
  <div class="field">	
  <%= f.file_field :avatars, multiple: true %>	
  </div>

  <div class="field">
  <p> Products </p>	
   <%= f.collection_check_boxes(:product_ids, Product.all, :id, :name) %>
  </div> 

  <div class="field">
  <p> Farming Practices </p>	
   <%= f.collection_check_boxes(:practice_ids, Practice.all, :id, :name) %>
  </div> 

  <div class="field js_description_check_boxes">
  <p> Purchase Options </p>	
   <%= f.collection_check_boxes(:purchase_option_ids, PurchaseOption.all, :id, :name) %> 
  </div> 

  <div class="field js_text_fields_div">

  <% @purchase_options.each do |option| %>
    <input class="js_description_field hide_description_field" type="text" name="option_description[<%=option.id %>]" value="<%= option.purchase_option_joins.find_by(farm_id: @farm.id).try(:option_description) %>">
  <% end %>

  </div>
  
  <%= f.submit "Update" %>
<% end %>